html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: "Patrick Hand", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5em;
  margin: 0;
  padding: 0;
}

.swiper-slide {
  position: relative;     /* vira referência */
  display: inline-block;  /* faz o tamanho do contêiner seguir a imagem */
}

.flex-container{
  display: flex;
  align-items: center;
  height: 99vh;
}

.slide {
  position: relative;
  height: 96vh;
  overflow: hidden;
  text-align: center;
}

.img-slide {
  height: 100%;
  width: auto;
}

.textbox {
  position: absolute;
  width: 600px;
  bottom: 0;
  left: 50%;
  margin-left: -300px;
  background: rgba(0,0,0,0.3);
}
.textbox p{
  margin: 0;
  padding: 8px;
  color: #fff;
}



/* 

.clickme{
  cursor: pointer;
}

.message-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.message-overlay p {
  color: white;
  font-size: 3em;
}

.slide {
  position: relative;
  height: 100%;
  overflow: hidden;
  text-align: center;
  display: none;
}

.active {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img-slide {
  height: 80%;
  width: auto;
}

.textbox {
   width: 70%;
}

.slide.no-textbox .img-slide {
  margin: auto;
}

.question {
  font-weight: bold;
  font-style: italic;
  font-size: 1.5em;
  margin: 6px 0;
}

.right {
  cursor: pointer;
  padding: 5px;
  border-radius: 4px;
  box-shadow: 3px 3px #777;
  background-color: #13c767;
  color: #fff;
}

.wrong {
  cursor: pointer;
  padding: 5px;
  border-radius: 4px;
  box-shadow: 3px 3px #777;
  background-color: #ec3838;
  color: #fff;
}

@media (max-width: 768px) {
  .slide {
    flex-direction: column;
  }

  .img-slide {
    width: 100%;
    height: auto;
    margin: 0;
  }

  .textbox {
    position: relative;
    width: 100%;
    height: fit-content;
    padding: 4px;
    background-color: rgba(193, 221, 248, 0.8);
    margin: 0;
  }

  .textbox p {
    margin: 2px;
    padding: 4px;
  }

  .right,
  .wrong {
    margin-bottom: 8px !important;
  }
} */